@keyframes hide {
  0% {
    opacity: 1;
    max-height: 100%;
  }
  35% {
    opacity: 0;
    transform: translateY(-100%);
    max-height: 0;
  }
  100% {
    opacity: 0;
    max-height: 0;
    transform: translateY(-10000%);
    display: none !important;
  }
}

.sku {
  color: grey;
}

.product {
  border: dotted 1px gray;
  margin: 20px 0;
  padding: 20px;
}

.price {
  color: red;
  font-size: 22px;
}

.navigate-link a {
  display: block;
  padding: 20px 25px;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  transition: color 0.15s, background 0.25s;
  border-radius: 5px;
}

.navigate-link a:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}

.header-shop {
  background: #e2e2e2;
  padding: 100px 0;
}

.header-shop h1 {
  font-size: 55px;
  letter-spacing: 3px;
}

.btn-add {
  display: block;
  background: #000;
  padding: 0px !important;
}

.btn-submit {
  color: rgba(255, 255, 255, 0.55) !important;
}

.btn-submit:hover {
  color: #e2e2e2 !important;
}

.btn-add i {
  color: rgba(255, 255, 255, 0.55);
}

.btn-add a {
  display: block;
  color: rgba(255, 255, 255, 0.55);
  width: 100%;
  height: 100%;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 35px;
  transition: all 0.2s;
}

.btn-add a:hover {
  color: #e2e2e2;
}

.wrapper-links .edit-link a {
  text-decoration: none;
}

.wrapper-links .delete-link a {
  color: red;
}

.modal__show {
  display: block;
}

.modal__hide {
  animation: hide 2s forwards;
}

/**** Slider *****/

.middle {
  position: relative;
  margin-left: -6px;
}

.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}
.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #0404055e;
}
.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #212529ec;
}
.slider > .thumb {
  position: absolute;
  top: 40%;
  z-index: 3;
  width: 20px;
  height: 20px;
  background-color: #212529;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
.slider > .thumb.left {
  left: 25%;
  transform: translate(-15px, -10px);
}
.slider > .thumb.right {
  right: 25%;
  transform: translate(15px, -10px);
}
.slider > .thumb.hover {
  box-shadow: 0 0 0 5px #21252933;
}
.slider > .thumb.active {
  box-shadow: 0 0 0 10px #21252933;
}

input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}

/******** end sliders classes *****/

.max_input,
.min_input {
  text-align: center;
}

.input__register:focus {
  border: 1px solid #212529 !important;
  box-shadow: 0px 0px 5px #212529 !important;
}

.input__register:focus::placeholder {
  color: #212529;
  font-weight: 500;
}

.btn__submit {
  padding: 11px 0 !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 14px !important;
  letter-spacing: 2px;
  transition: background 0.5s ease-out;
}

.btn__submit:hover {
  background: #212529f3 !important;
  color: #ffffffb9 !important;
}
