@keyframes hide {
  0% {
    opacity: 1;
    max-height: 100%;
  }
  35% {
    opacity: 0;
    transform: translateY(-100%);
    max-height: 0;
  }
  100% {
    opacity: 0;
    max-height: 0;
    transform: translateY(-10000%);
    display: none !important;
  }
}

.catalog {
  margin-top: 50px;
}

.catalog__product {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product__item {
  box-shadow: 0 0 5px #21252936;
  background: #fff;
  position: relative;
  padding: 20px 25px;
  margin-bottom: 50px;
  width: 22%;
  transition: box-shadow 0.5s;
}

.product__item:hover {
  box-shadow: 0 0 8px #212529;
}

.sku {
  margin-bottom: 10px;
  text-align: center;
  color: grey;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  background: #a8a8a865;
}

.title {
  margin: 20px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  min-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.product {
  border: dotted 1px gray;
  margin: 20px 0;
  padding: 20px;
}

.catalog__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 5px;
}
.image {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.75);
}

.in-basket a,
.no-basket a {
  position: relative;
  z-index: 999;
  color: #21252996;
  background: #cdcdcd;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background 0.3s, color 0.3s;
}

.in-basket a:hover {
  background: #212529e1;
  color: rgba(255, 255, 255, 0.55);
}

.no-basket a {
  color: #cdcdcd;
  background: #212529;
}

.no-basket a i,
.in-basket a i {
  font-size: 20px;
}

.no-basket a:hover {
  background: #212529e0;
  color: rgba(255, 255, 255, 0.55);
}

.row__action {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__select {
  display: block;
  text-decoration: none;
}

.qty {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
}

.absolute__link a {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* width: 100%;
  height: 100%; */
}

.view {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.view__product {
  width: 50%;
}

.view__descript {
  padding: 10px 0;
  margin-top: 25px;
  font-size: 18px;
  display: flex;
  box-shadow: 0 2px 1px #2125292f;
}

.descript-product {
  padding: 10px 0;
  margin-top: 25px;
  font-size: 18px;
}

.table-descript {
  padding: 10px 15px;
  min-height: 100px;
  box-shadow: 0 0 3px #2125299f;
}

.left__column {
  min-width: 50%;
}

.right__column {
  min-width: 50%;
  text-align: right;
}

.wrapper-view-links {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

.wrapper-view-links a {
  border-radius: 10px;
  display: block;
  text-align: center;
  display: block;
  padding: 10px 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  background: #212529;
  color: #cdcdcd;
  transition: background 0.5s, color 0.3s;
}

.wrapper-view-links a:hover {
  background: #212529bd;
  color: #cdcdcd;
}

.in-view-basket a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #cdcdcd;
  color: #212529bd;
}

.in-view-basket i {
  margin-left: 10px;
  font-size: 18px;
}

.price {
  color: red;
  font-size: 20px;
  font-weight: 700;
}

.navigate-link a {
  display: block;
  padding: 20px 25px;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  transition: color 0.15s, background 0.25s;
  border-radius: 5px;
}

.edit-link a {
  background: #23486dc2;
  color: #fff;
}

.delete-link a {
  background: rgba(156, 1, 1, 0.753);
  color: #fff;
}

.navigate-link a:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}

.edit-link a:hover {
  background: #23486dab;
  color: rgba(255, 255, 255, 0.836);
}

.delete-link a:hover {
  background: rgba(156, 1, 1, 0.514);
  color: #fff;
}

.header-shop {
  background: #e2e2e2;
  padding: 100px 0;
}

.header-shop h1 {
  font-size: 55px;
  letter-spacing: 3px;
}

.btn-add {
  display: block;
  background: #212529;
  padding: 0px !important;
}

.btn-submit {
  color: rgba(255, 255, 255, 0.55) !important;
}

.btn-submit:hover {
  color: #e2e2e2 !important;
}

.btn-add i {
  color: rgba(255, 255, 255, 0.55);
}

.btn-add a {
  display: block;
  color: rgba(255, 255, 255, 0.55);
  width: 100%;
  height: 100%;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 35px;
  transition: all 0.2s;
}

.btn-add a:hover {
  color: #e2e2e2;
}

.wrapper-links .edit-link a {
  text-decoration: none;
}

.wrapper-links .delete-link a {
  color: red;
}

.modal__show {
  display: block;
}

.modal__hide {
  animation: hide 2s forwards;
}

/**** Slider *****/

.middle {
  position: relative;
  margin-left: -6px;
}

.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}
.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #0404055e;
}
.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #212529ec;
}
.slider > .thumb {
  position: absolute;
  top: 40%;
  z-index: 3;
  width: 20px;
  height: 20px;
  background-color: #212529;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
.slider > .thumb.left {
  left: 25%;
  transform: translate(-15px, -10px);
}
.slider > .thumb.right {
  right: 25%;
  transform: translate(15px, -10px);
}
.slider > .thumb.hover {
  box-shadow: 0 0 0 5px #21252933;
}
.slider > .thumb.active {
  box-shadow: 0 0 0 10px #21252933;
}

input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}

/******** end sliders classes *****/

.max_input,
.min_input {
  text-align: center;
}

.input__register:focus {
  border: 1px solid #212529 !important;
  box-shadow: 0px 0px 5px #212529 !important;
}

.input__register:focus::placeholder {
  color: #212529;
  font-weight: 500;
}

.btn__submit {
  padding: 11px 0 !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 14px !important;
  letter-spacing: 2px;
  transition: background 0.5s ease-out;
}

.btn__submit:hover {
  background: #212529f3 !important;
  color: #ffffffb9 !important;
}

/********* Basket *********/
.cart__wrapper {
  margin: 50px 0;
  padding: 50px 100px;
  border: 1px solid #273c32;
}

.cart__title {
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 700;
}

.cart__empty h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 50px;
}

.cart__link-home {
  text-align: right;
}

.cart__link-home a {
  position: relative;
  color: #212529;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
}

.cart__link-home a::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 20%;
  height: 2px;
  background: #212529;
  transition: all 0.5s;
}

.cart__link-home a:hover::after {
  width: 100%;
}

.cart__link-home a:hover {
  color: #212529;
}

.cart__item,
.cart__titles-table,
.cart__item-wrapper {
  display: flex;
}

.cart__item {
  border-top: 2px solid #21252979;
  padding: 40px 0;
}

.cart__item-image img {
  max-width: 100px;
  min-height: 150px;
  object-fit: cover;
}

.cart__quantity-wrapper {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border: 1px solid #000;
}

.cart__info-quantity input {
  cursor: not-allowed;
  border: none;
  outline: none;
  max-width: 40px;
  text-align: center;
  font-size: 18px;
}

.cart__minus {
  font-size: 14px;
  margin-bottom: 3px;
}

.cart__plus {
  font-size: 24px;
  margin-bottom: 6px;
}

.cart__minus,
.cart__plus {
  cursor: pointer;
  padding: 0 10px;
  font-weight: 700;
  user-select: none;
}

.cart__item-wrapper {
  min-width: 300px;
  max-width: 300px;
  margin-right: 25px;
}

.cart__inputs {
  font-size: 18px;
  display: flex;
  align-items: center;
  min-width: 142px;
  margin-right: 25px;
}

.cart__price,
.cart__total {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  min-width: 100px !important;
  max-width: 100px !important;
}

.cart__price {
  min-width: 80px;
  margin-right: 25px;
}

.cart__total {
  min-width: 100px;
  margin-right: 25px;
}

.cart__group {
  display: flex;
  justify-content: center;
}

.cart__titles-table {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.cart__info-product {
  margin-left: 20px;
}

.cart__info-title {
  font-weight: 700;
  line-height: 1.5;
}

.cart__info-sku {
  margin-bottom: 20px;
  font-size: 14px;
  color: #cdcdcdea;
  font-style: italic;
}

.cart__delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__delete a i {
  font-size: 20px;
  color: #c51903;
  font-weight: bolder;
}

.cart__align {
  justify-content: center;
}

.cart__buttons {
  display: flex;
  justify-content: center;
}

.cart__reset-link:hover {
  text-decoration: none;
  color: #fff;
  background: #7ca893;
}

.cart__total-block {
  margin-left: 100px;
}

.cart__total-info div {
  margin-bottom: 15px;
  font-size: 18px;
}

.cart__row {
  display: flex;
  justify-content: space-between;
}

.cart__flags {
  display: block;
  font-weight: 800;
  text-transform: uppercase;
  min-width: 100px;
  margin-right: 25px;
}

.cart__output {
  display: block;
  min-width: 100px;
  text-align: center;
  font-weight: 600;
}

.cart__reset {
  margin-top: 20px;
}

.cart__route {
  margin-top: 50px;
}

.cart__buttons {
  margin-top: 50px;
}

.cart__pay input {
  display: block;
  color: rgba(255, 255, 255, 0.55);
  background: #212529;
  width: 100%;
  height: 100%;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 35px;
  transition: all 0.2s;
}

.cart__reset a:hover,
.cart__index a:hover,
.cart__pay input:hover {
  color: #e2e2e2;
  background: #212529a6;
  box-shadow: 0 0 5px #212529;
}

.cart__index a,
.cart__reset a {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
  background: #212529;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 35px;
  transition: all 0.2s;
}

.cart__empty-img {
  text-align: center;
  display: flex;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 3px;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  min-width: 140px;
  max-height: 100px;
  max-width: 140px;
  background: #a8a8a865;
}
/*******************/

.fundo {
  animation: scales 3s alternate infinite;
  transform-origin: center;
}
.pao-baixo {
  animation: rotatepao 14s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  transform-origin: center;
}
.pao-cima {
  animation: rotatepao 7s 1s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  transform-origin: center;
}
.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center;
}

.left-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 150px 156px;
}

.right-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 310px 150px;
}

.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center;
}
@keyframes scales {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rotatepao {
  0% {
    transform: rotate(0deg);
  }
  50%,
  60% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes olhos {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(30deg);
  }
}

@keyframes left-sparks {
  0% {
    opacity: 0;
  }
}

.main {
  min-height: 600px;
  margin: 0px auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 4s alternate infinite;
}

@keyframes dash {
  0%,
  30% {
    fill: 4b4b62;
    stroke-dashoffset: 0;
  }
  80%,
  100% {
    fill: transparent;
    stroke-dashoffset: -200;
  }
}

.go-home a {
  display: block;
  color: rgba(255, 255, 255, 0.55);
  background: #212529;
  width: 100%;
  height: 100%;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 35px;
  transition: all 0.2s;
}

.go-home a:hover {
  color: #e2e2e2;
  background: #212529a6;
  box-shadow: 0 0 5px #212529;
}

/**********************/

.order {
  margin: 50px auto;
  max-width: 800px;
  border: 1px solid #212529;
  padding: 35px 20px;
}

.order_text {
  line-height: 2;
  max-width: 500px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 20px;
  margin: 0 auto 50px;
}

/* .menu-basket {
  border: 1px solid rgba(255, 255, 255, 0.55);
  border-radius: 10px;
  padding: 10px 25px;
} */

.menu-basket a {
  position: relative;
  display: flex;
  align-items: center;
}

.image-basket {
  display: block;
  position: relative;
  margin-right: 20px;
}

.image-basket span {
  font-size: 10px;
  font-style: normal;
  display: block;
  position: absolute;
  top: -100%;
  right: -20%;
  border: 1px solid rgba(255, 255, 255, 0.55);
  border-radius: 50%;
  padding: 0px 5px;
  background: rgb(75, 75, 75);
  color: rgba(255, 255, 255, 0.55);
  font-weight: bolder;
}

.menu-basket a::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 20%;
  height: 2px;
  background: rgba(255, 255, 255, 0.55);
  transition: all 0.5s;
}

.menu-basket a:hover::after {
  width: 100%;
}

/********** Orders **********/

.orders__body {
  max-width: 80%;
  margin: 0 auto;
}

.orders__item {
  border: 1px solid #212529;
  padding: 40px 60px;
  margin-bottom: 80px;
}

.orders__id {
  text-align: center;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 50px;
}

.orders__info {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}

.orders__data {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}

.orders__titles-table,
.orders__points {
  justify-content: space-between;
}

.orders__qty {
  display: flex;
  justify-content: center;
}

.basket__nav {
  display: flex;
  flex-direction: row-reverse;
}

.wrapper__links-basket {
  margin: 50px 0;
  display: flex;
}

.basket__link {
  margin-right: 50px;
}

.wrapper__links-basket a {
  position: relative;
  color: #212529;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

.wrapper__links-basket a:hover {
  color: #2125299f;
}

.wrapper__links-basket a::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 20%;
  height: 2px;
  background: #2125299f;
  transition: all 0.5s;
}

.wrapper__links-basket a:hover::after {
  width: 100%;
}

.no__orders {
  margin: 50px 0;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
}

.person__info {
  margin: 25px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__about {
  display: flex;
  margin-bottom: 10px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
}

.left__info {
  min-width: 250px;
  max-width: 250px;
  font-weight: 700;
}

.right__info {
  min-width: 250px;
  max-width: 250px;
}
